<section class="poppity" [ngClass]="{'open': showPoppity}">

    <div class="swiper-container" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let content of selectedProject.content">
                <img class="{{selectedProject.type}}" src="{{content.url}}">
            </div>
        </div>

        <div class="swiper-scrollbar"></div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev" (click)="movePrev()"></div>
        <div class="swiper-button-next" (click)="moveNext()"></div>
    </div>

    <button class="butt-close" (click)="closePoppity()"></button>
</section>