<section class="section-home">
    <div class="home-wrap">
        <div class="home-image">
            <img src="/assets/img/shib-illustration-colour.png" alt="Siobhan Willoughby" />
        </div>
        <div class="home-info">
            <h2>Hey, there!</h2>
            <p class="colour">I’m Shib and I’m a <strong>Creative Lead / Front End Developer</strong>!</p>
            <p class="colour">I’ve been professionally <strong>designing</strong> and <strong>building</strong> pretty
                <strong>websites</strong> and <strong>apps</strong> for the past 12 years.</p>
            <p>I’m pretty great at <strong>UX/UI, wireframing, mockups, prototyping, and design</strong>, as well as working with developers to make sure my designs are implemented beautifully! I’m also pretty fantastic at building websites and apps myself!</p>
            <p class="colour">I’m currently creating fabulous things at <strong><a href="https://www.theprojectfactory.com/" target="_blank">Miroma Project Factory</a></strong>.</p>
        </div>
    </div>
</section>
<header>
    <div class="header-skew">
        <h1>Stuff I've Done</h1>
    </div>
</header>
<section class="section-stuff">
    <div class="stuff-wrap" *ngFor="let project of allProjects; let isOdd=odd; let i = index" [class.odd]="isOdd">
        <div class="description">
            <a *ngIf="project.url" href="{{project.url}}" target="_blank"><h2>{{project.name}}</h2></a>
            <h2 *ngIf="!project.url">{{project.name}}</h2>
            <span [innerHTML]="project.description"></span>
        </div>
        <div class="image" [ngClass]="project.type">
            <img src="{{project.content[0].url}}" alt="{{project.name}}" />
            <button (click)="viewProject(i)" class="butt-seemore">See more!</button>
        </div>
    </div>
</section>
<poppitypop [selectedProject]="selectedProject"></poppitypop>