$colourHeader: #e4572e;//#ea714e
$colourFontDark: #353531;
$colourFontHeading: #e4572e;
$colourFontLight: #FFFFFF;

//$fontHeading: 'Chelsea Market', cursive;
$fontHeading: 'Londrina Solid', cursive;
//$fontBody: 'Walter Turncoat', cursive;
//$fontBody: 'Balsamiq Sans', cursive;
//$fontBody: 'Patrick Hand', cursive;
$fontBody: 'Patrick Hand SC', cursive;

$heightHeader: 220px;

/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Neucha', cursive;
font-family: 'Patrick Hand SC', cursive;*/