$colourHeader: #e4572e;//#ea714e
$colourFontDark: #353531;
$colourFontHeading: #e4572e;
$colourFontLight: #FFFFFF;

$fontHeading: 'Chelsea Market', cursive;
$fontBody: 'Walter Turncoat', cursive;

$heightHeader: 220px;